html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

    background: linear-gradient(
        180deg,
        #F4EEDC 0%,
        #E5E7D3 35%,
        #BFD8B8 75%,
        #F4EEDC 100%
    );

    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 0;
}

.hero {
    position: relative;
    z-index: 2;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ecobottle-title {

    margin: 0;

    font-size: clamp(5rem, 12vw, 10rem);

    font-weight: 900;

    letter-spacing: 4px;

    color: #1E5631;

    text-transform: uppercase;

    text-align: center;

    text-shadow:
        0 4px 10px rgba(0,0,0,.08),
        0 0 25px rgba(75,143,41,.15);

    animation: floatTitle 4s ease-in-out infinite;
}

.ecobottle-title span {
    color: #4B8F29;
}

.subtitle {

    margin-top: 15px;

    font-size: clamp(1rem, 2vw, 1.5rem);

    color: #3E5F45;

    letter-spacing: 1px;

    text-align: center;
}

@keyframes floatTitle {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}
.eco-btn {
    margin-top: 30px;

    padding: 15px 35px;

    border: none;
    border-radius: 50px;

    background: linear-gradient(
        135deg,
        #1E5631,
        #4B8F29
    );

    color: white;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    box-shadow:
        0 8px 20px rgba(30, 86, 49, 0.25);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background 0.3s ease;
}

.eco-btn:hover {
    transform: translateY(-3px);

    box-shadow:
        0 12px 25px rgba(30, 86, 49, 0.35);

    background: linear-gradient(
        135deg,
        #246b3c,
        #5da130
    );
}

.eco-btn:active {
    transform: translateY(1px);
}

.eco-btn:focus {
    outline: none;
}